#root {
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

html{
  --primary-color: #0b0c10;
  --secondary-color: #1f2833;
  --tertiary-color: #45a29e;
  --font-color: #45a29e;
  --heading-color:#66fcf1;
}

h1{
  color: var(--heading-color);
}

h2{
  color: var(--heading-color);
}

p{
  color: var(--font-color);
}

a{
  color: var(--font-color);
  text-decoration: none;
}